<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--4、dubbo服务提供者对外暴露的端口号，默认为20880-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
    <!--1、声明服务名称-->
    <dubbo:application name="dongyimai-sellergoods-service"/>
    <!--2、配置注解中心地址-->
    <!--<dubbo:registry address="zookeeper://192.168.188.128:2181"/>-->
    <!--3、配置注解扫描包-->
    <dubbo:annotation package="com.offcn.sellergoods.service"/>
</beans>