<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <!--扫描Component-->
    <context:component-scan base-package="com.offcn.utils"/>

    <!--配置solr服务器的地址-->
    <solr:solr-server url="http://192.168.188.128:8983/solr/collection1" id="solrServer"/>

    <!--声明模板对象-->
    <bean class="org.springframework.data.solr.core.SolrTemplate" id="solrTemplate">
        <constructor-arg ref="solrServer"/>
    </bean>
</beans>